.vvm-DatetimePicker{
    width: 100%;
    &-body{
        background: @B6;
        display: flex;
    }
    &-title{
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background: @B6;
        .cancel-text:extend(.px-30){
            color: @B3;
        }
        .confirm-text:extend(.px-30){
        }
    }
}