.vvm-DatetimePicker{
    width: 100%;
    height: 100%;
    &-input{
        height: 100%;
    }
    &-body{
        background: @B6;
        display: flex;
    }
    &-title{
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        background: @B6;
        .cancel-text{
            color: @B3;
            font-size: @size-16;
        }
        .confirm-text{
            font-size: @size-16;
        }
    }
}