.vvm-From-Item{
    padding: 28px 30px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    &.cellInline{
        display: flex;
    }
    &.block{
        .vvm-From-Item-body{
            padding-top: 8px;
        }
    }
    &-body{
        flex-grow: 1;
        position: relative;
        &.statusIcon{
            box-sizing: border-box;
            padding-right: 15px;
        }
    }
    &-message{
        font-size: 10Px;
        color: @errer-color;
        position: absolute;
        bottom: -26px;
    }
    &-label:extend(.px-28){
        margin-right: 15px;
        color: @B2;
        position: relative;
        display: flex;
        align-items: center;
        &-required{
            color: @errer-color;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translate3d(0,-50%,0);
            display: flex;
            align-items: center;
        }
    }
    &-statusIcon{
        position: absolute;
        top: 50%;
        transform: translate3d(0,-50%,0);
        right: -6px;
        color: @B3;
        display: inline-block;
        height: auto;
        &.success{
            color: @theme-color;
        }
        &.error{
            color: @errer-color;
        }
        &.loading{
            color: @B3;
        }
        .iconfont{
            transition: all .3s;
        }
    }
}