.vvm-iconfont {
    font-family: "vvm-iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align:middle;
    display: inline-block;
    position: relative;
    font-size: 16Px;
  }