.vvm-Card{
    background: #fff;
    &-title{
        display: flex;
        padding: 20px 30px;
        align-items: center;
        justify-content: space-between;
        font-size: @size-16;
    }
    &-body{
        padding: 10px 30px;
    }
    &.shadow{
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    }
}