.Am-Backtop{
    position: fixed;
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    background: @B6;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: @theme-color;
    cursor: pointer;
}