
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/*从下向上出现*/
.top-enter-active,
.top-leave-active {
  transition: all 0.5s ease;
}
.top-enter,
.top-leave-to {
  transform: translateY(-100%);
}

.center-leave-active {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 0;
  }
  .center-enter {
    transform: translate3d(-50%, -50%, 0) scale(0.6);
    opacity: 0;
  }
  //右出
  .right-enter-active,
  .right-leave-active {
    transition: all 0.5s ease;
  }
  .right-enter,
  .right-leave-to {
    transform: translateX(100%);
  }
  //左出
  .left-enter-active,
  .left-leave-active {
    transition: all 0.5s ease;
  }
  .left-enter,
  .left-leave-to {
    transform: translateX(-100%);
  }
  //下出
  .bottom-enter-active,
  .bottom-leave-active {
    transition: all 0.5s ease;
  }
  .bottom-enter,
  .bottom-leave-to {
    transform: translateY(100%);
  }

  .Am-loading{
    display: inline-block;
    animation: rotating 1.3s linear infinite;
  }
@-webkit-keyframes rotating{
  0%{-webkit-transform:rotateZ(0);transform:rotateZ(0)}
  100%{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
@keyframes rotating{
  0%{-webkit-transform:rotateZ(0);transform:rotateZ(0)}
  100%{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(-10px);
    opacity: 0;
  }