html,body{
    padding: 0;
    margin: 0;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

p,h1,h2,h3,h4,h5,ul,ol{
    padding: 0;
    margin: 0;
}

ul,ol{
    list-style-type: none;
}

button, input, select, textarea {
    outline: none;
}
a{
    text-decoration:none;
}
.Am-iconfont{
    font-family: "Am-iconfont" !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
}