.Am{
    &-Input{
        display: flex;
        align-items: center;
        width: 100%;
        &-context{
            border: none;
            font-size: 16px;
            font-family:Tahoma;
            width: 100%;
            min-width: 0;
            margin: 0;
            padding: 0;
            resize: none;
            &::placeholder {
                color: @d1;
                font-size: 16px;
              }
              &:disabled {
                color: @d2;
                background-color: #fff;
                font-size: 16px;
                -webkit-text-fill-color: @d2;
                -webkit-opacity: 1;
                opacity: 1;
              }
        }
        &-input{
            flex-grow: 1;
            height: 100%;
            display: flex;
            align-items: center;
        }
        &-icon{
            padding: 0 4px;
        }
    }
}
input:-webkit-autofill{
    box-shadow: 0 0 0px 1000px white inset;
}